/* Default Body */
* {
  font-family: 'Charlie Display',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

/* ClearFix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Line Separation After Tools Header */
.line-separation-one {
  padding: 16px 0;
  position: relative;
}

.line-separation-one .line-separation-one__container {
  max-width: 1440px;
  margin: 0 auto;
}

.line-separation-one .line-separation-one__line-box-container {
  min-height: 1px;
  position: relative;
  padding: 16px;
}

.line-separation-one .line-separation-one__line {
  background: #0052CC;
  height: 4px;
  width: 140px;
  margin: 0 auto;
  border: 0em;
}

.line-separation-two {
  padding: 16px 0;
  position: relative;
}

.line-separation-two .line-separation-two__container {
  max-width: 1200px;
  margin: 0 auto;
}

.line-separation-two .line-separation-two__line-box-container {
  min-height: 1px;
  position: relative;
  padding: 16px;
}

.line-separation-two .line-separation-two__line {
  background: #DFE1E5;
  border: 0;
  height: 2px;
}

/* Whole Navigation Bar */
.global-nav {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  line-height: 72px;
}

/* Left Navigation Bar */
.global-nav__left-nav {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-nav__logo {
  width: 193px;
  line-height: 72px;
  margin-right: 12px;
}

.left-nav__logo .logo__home-logo {
  line-height: 72px;
}

.left-nav__logo .logo__home-logo .home-logo__logo-image {
  vertical-align: text-bottom;
}

.left-nav__left-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.left-nav__left-nav-list .left-nav-list__list-item {
  text-decoration: none;
  padding: 4px 25px 4px 14px;
  border-radius: 3px;
  color: #42526E;
}

/* Right Navigation Bar */
.global-nav__right-nav {
  float: right;
}

.right-nav__right-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.right-nav__right-nav-list .right-nav-list__list-item {
  text-decoration: none;
  padding: 0 16px;
  font-size: .875rem;
  color: #42526E;
  display: inline-block;
  height: 32px;
  line-height: 30px;
}

.right-nav__right-nav-list .right-nav-list__list-item--try-button {
  border-radius: 3px;
  background-color: #0052CC;
  color: #FFF;
  font-weight: 500;
  border: 1px solid #0052CC;
}

.right-nav__right-nav-list .right-nav-list__list-item--search-button {
  height: 29px;
  width: 29px;
  border-radius: 50%;
  text-align: center;
}

.showcase {
  padding: 96px 0;
  background-image: url("https://wac-cdn.atlassian.com/dam/jcr:4f6bda21-a0c7-49ae-abbe-464dbe2432c1/Summit2019-WACTakeover.svg?cdnVersion=ld");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #172B4D;
  color: white;
}

.showcase__container {
  max-width: 1200px;
  margin: 0 auto;
}

.container__item {
  padding: 16px;
  padding-top: 96px;
  width: 66.66666%;
  margin: 0 auto;
}

.container__item .showcase__heading {
  font-family: 'Charlie Display',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 500;
  font-size: 2.75rem;
  margin-bottom: 16px;
  letter-spacing: 0;
}

.container__item .showcase__description {
  font-size: 1.25rem;
  letter-spacing: .3px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 24px;
}

.container__item .showcase__register-button-link {
  color: #FFF;
  border: 1px solid blue;
  border-radius: 3px;
  border-color: #00C7E5;
  width: 136px;
  padding: 7px 16px;
  font-weight: 500;
}

.feature {
  padding: 16px 0;
  background-color: #F4F5F7;
}

.feature__container {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.feature__image-box {
  margin-left: 16.66%;
}

.feature__image-box .feature__image {
  width: 208px;
  height: 208px;
}

.feature__article {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 16px;
  width: 50%;
}

.feature__heading .feature__title {
  font-size: 1.5rem;
  line-height: 1.33333333;
  margin-bottom: 16px;
  font-weight: 500;
  color: #253858;
}

.feature__heading .feature__description {
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 24px;
}

.feature__heading .feature__button {
  font-size: .875rem;
  height: 30px;
  line-height: 2;
  padding: 0 10px;
  border: 1px solid #0052CC;
  color: #0052CC;
  font-weight: 500;
  display: inline-block;
  border-radius: 3px;
}

.tools-header {
  padding-top: 16px;
}

.tools-header__container {
  max-width: 1200px;
  margin: 0 auto;
}

.tools-header__box {
  text-align: center;
  min-height: 1px;
  position: relative;
  padding: 16px;
  padding-top: 64px;
}

.tools-header__box .tools-header__heading {
  color: #253858;
  font-size: 2.25rem;
  line-height: 1.33333333;
  margin-bottom: 24px;
  font-weight: 500;
}

.tools-header__box .tools-header__description {
  color: #253858;
  font-size: 1.25rem;
  letter-spacing: .3px;
  line-height: 1.4;
  font-weight: 400;
}

.tools-list {
  padding: 16px 0;
}

.tools-list__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.tools-list__col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
  width: 33.33333%;
}

.tools-list__heading h5 {
  margin-bottom: 23px;
  color: #42526E;
  font-size: .875rem;
  letter-spacing: 1px;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 1000;
}

.tools-list__items {
  margin-bottom: 50px;
  padding-bottom: 41px;
  height: 151px;
}

.tools-list__items .title-image__image {
  height: 23px;
  margin-bottom: 16px;
  vertical-align: bottom;
}

.tools-list__items .tools-list__description p {
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 24px;
  font-weight: 400;
}

.tools-list__items .tools-list__learn-more .learn-more__link {
  color: #0052CC;
  text-decoration: none;
}

.tools-list__col--4 {
  padding-top: 0px;
}

.tools-list__col--image {
  width: 66.66%;
}

.tools-list__col--6 {
  width: 100%;
  padding: 0 16px;
  padding-bottom: 96px;
}

.tools-list__items--and-more {
  margin: 0;
  height: auto;
  padding: 0;
}

.tools-list__items--and-more .and-more-head__heading {
  font-size: 1.5rem;
  line-height: 1.33333333;
  margin-bottom: 16px;
  color: #253858;
  letter-spacing: .3px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.tools-list__items--and-more .tools-list__and-more-description p {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}

.tools-list__items--and-more .tools-list__and-more-description p a {
  color: #0052CC;
  text-decoration: none;
}

.get-started {
  background-color: #F4F5F7;
  padding: 32px 0;
}

.get-started__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.get-started__box {
  text-align: center;
  width: 83.33333%;
  padding: 16px;
  margin-left: 8.33333%;
  margin-right: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.get-started__heading h2 {
  font-size: 2.25rem;
  line-height: 1.33333333;
  margin-bottom: 24px;
  color: #253858;
  font-weight: 500;
}

.get-started__heading p {
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 24px;
  font-weight: 400;
}

.get-started__link {
  background: #79F2C0;
  border: 1px solid #79F2C0;
  color: #172B4D;
  height: 40px;
  line-height: 38px;
  padding: 0 16px;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  border-radius: 3px;
}

.news {
  padding: 16px 0;
  padding-top: 32px;
}

.news__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.news__heading {
  width: 66.66666%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news__image-container {
  width: 25%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news__image-box {
  text-align: center;
}

.news__image {
  width: 190px;
  vertical-align: bottom;
}

.news__heading h3 {
  font-size: 1.5rem;
  line-height: 1.33333333;
  margin-bottom: 16px;
  color: #253858;
  letter-spacing: .3px;
  font-weight: 500;
}

.news__heading p {
  color: #091E42;
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 24px;
  font-weight: 400;
}

.news__link {
  color: #0052CC;
  text-decoration: none;
  display: inline-block;
}

.powering-innovation {
  padding: 16px 0;
  padding-top: 32px;
}

.powering-innovation__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.powering-innovation__heading-box {
  text-align: center;
  padding: 16px;
  padding-bottom: 32px;
  width: 83.33333%;
  margin-left: 8.33333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.powering-innovation__heading h2 {
  font-size: 2.25rem;
  line-height: 1.33333333;
  color: #253858;
  letter-spacing: 0;
  font-weight: 500;
}

.powering-innovation__image-container {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px;
}

.powering-innovation__image {
  width: 100%;
  margin-bottom: 16px;
  vertical-align: bottom;
}
/*# sourceMappingURL=main.css.map */