/* Default Body */
body {
  font-family: 'Charlie Display',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

/* ClearFix */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* Whole Navigation Bar */
.global-nav {
  width: 80%;
  margin: auto;
  padding: 0 20px;
  line-height: 72px; }

/* Left Navigation Bar */
.global-nav__left-nav {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }

.left-nav__logo {
  width: 193px;
  line-height: 72px;
  margin-right: 12px; }
  .left-nav__logo .logo__home-logo {
    line-height: 72px; }
    .left-nav__logo .logo__home-logo .homelogo__logo-image {
      vertical-align: text-bottom; }

.left-nav__left-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  .left-nav__left-nav-list .left-nav-list__list-item {
    text-decoration: none;
    padding: 4px 25px 4px 14px;
    border-radius: 3px;
    color: #42526E; }

/* Right Navigation Bar */
.global-nav__right-nav {
  float: right; }

.right-nav__right-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  .right-nav__right-nav-list .right-nav-list__list-item {
    text-decoration: none;
    padding: 0 16px;
    font-size: .875rem;
    color: #42526E;
    display: inline-block;
    height: 32px;
    line-height: 30px; }
  .right-nav__right-nav-list .right-nav-list__list-item--try-button {
    border-radius: 3px;
    background-color: #0052CC;
    color: #FFF;
    font-weight: 500;
    border: 1px solid #0052CC; }
  .right-nav__right-nav-list .right-nav-list__list-item--search-button {
    padding: 0;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    text-align: center; }

.showcase {
  padding: 96px 0;
  background-image: url("https://wac-cdn.atlassian.com/dam/jcr:4f6bda21-a0c7-49ae-abbe-464dbe2432c1/Summit2019-WACTakeover.svg?cdnVersion=ld");
  background-position: bottom-center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #172B4D;
  color: white; }

.showcase__container {
  max-width: 1200px;
  margin: 0 auto; }

.container__item {
  padding: 16px;
  padding-top: 96px;
  width: 66.66666%;
  margin: 0 auto; }

.showcase__heading {
  font-family: 'Charlie Display',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 2.75rem;
  margin-bottom: 16px;
  letter-spacing: 0; }

.showcase__description {
  font-size: 1.25rem;
  letter-spacing: .3px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px; }

.showcase__register-button {
  padding: 7px 16px; }

.showcase__register-button-link {
  color: #FFF;
  border: 1px solid blue;
  border-radius: 3px;
  border-color: #00C7E5;
  width: 136px;
  padding: 7px 16px;
  font-weight: 500; }
