.customer-review-more
{
    padding-bottom: 64px;
    padding-top: 8px;
}

.customer-review-more__container
{
    max-width: 1440px;
    margin: 0 auto;
}

.customer-review-more__box
{
    padding: 16px;
}

.customer-review-more__link-box
{
    text-align: center;
}

.customer-review-more__link
{
    color: #0052CC;
    text-decoration: none;
    display: inline-block;
}