
/* Default Body */

*
{
    font-family: 'Charlie Display',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* ClearFix */

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}

