.tools-list
{
    padding: 16px 0;
}

.tools-list__container
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.tools-list__col
{
    box-sizing: border-box;
    padding: 16px;
    width: 33.33333%;
}

.tools-list__heading
{
    & h5
    {
        margin-bottom: 23px;
        color: #42526E;
        font-size: .875rem;
        letter-spacing: 1px;
        line-height: 1.25;
        text-transform: uppercase;
        font-weight: 1000;
    }
}

.tools-list__items
{
    margin-bottom: 50px;
    padding-bottom: 41px;
    height: 151px;

    & .title-image__image
    {
        height:23px;
        margin-bottom: 16px;
        vertical-align: bottom;
    }

    & .tools-list__description
    {
        & p
        {
            font-size: 1rem;
            line-height: 24px;
            margin-bottom: 24px;
            font-weight: 400;
        }
        
        & .learn-more__link
        {
            color: #0052CC;
            text-decoration: none;
        }
    }
}

.tools-list__col--4
{
    padding-top: 0px;
}

.tools-list__col--image
{
    width: 66.66%;
}

.tools-list__col--6
{
    width: 100%;
    padding: 0 16px;
    padding-bottom: 96px;
}

.tools-list__items--and-more
{
    margin: 0;
    height: auto;
    padding: 0;

    & .and-more-head__heading
    {
        font-size: 1.5rem;
        line-height: 1.33333333;
        margin-bottom: 16px;
        color: #253858;
        letter-spacing: .3px;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
    }

    & .tools-list__and-more-description
    {
        & p
        {
            font-size: 1rem;
            line-height: 24px;
            font-weight: 400;
            
            & a
            {
                color: #0052CC;
                text-decoration: none;
            }
        }
    }
}

